<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToHyVe Service Demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .dropdown-container {
            display: flex;
            justify-content: space-between;
        }

        .dropdown {
            flex: 1;
            margin-right: 10px;
        }
        .header {
            text-align: center;
        }
    </style>
</head>

<body >
    <div class="container mt-5">
        <!-- Top Tab -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#uploadTab">File Upload</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#streamingTab">Audio Streaming</a>
            </li>
        </ul>

        <div class="tab-content mt-2">
            <!-- Upload & Convert to Base64 Tab -->
            <div class="tab-pane container active" id="uploadTab">
                <h3 class="mt-3">ToHyVe Demo: Upload Audio File and Select Language Codes</h3>
                <!-- File upload -->
                <input type="file" id="audioFile" accept=".mp3, .wav, .ogg" class="form-control mt-3">
                <!-- Progress Modal -->
                <div class="modal" id="progressModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <label class="ustom-file-label">Data Loading...</label>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0"
                                        aria-valuemax="100">0%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Dropdown div -->
                <div class="dropdown-container" style="margin-top: 20px;">
                    <!-- First Dropdown (Default: de) -->
                    <label for="source_language">Audio Language:</label>
                    <select class="dropdown" id="source_language">
                        <option value="en">English</option>
                        <option value="de" selected>German</option>
                    </select>
                    <!-- Second Dropdown (Default: en) -->
                    <label for="target_language">Target Language:</label>
                    <select class="dropdown" id="target_language">
                        <option value="en" selected>English</option>
                        <option value="de">German</option>
                    </select>
                </div>
                <!-- Run Button -->
                <div style="display: flex; justify-content: center; align-items: center;text-align: center;" data-toggle="modal" data-target="#loadingModal">
                    <button class="btn btn-primary mt-3" onclick="convertToBase64()">Run Demo</button>
                </div>
                <!-- Loading Modal -->
                <div class="modal" id="loadingModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body text-center">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <p>Loading...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Response Textbox -->
                <div class="mt-2">
                    <h6>ASR Response:</h6>
                    <textarea id="asrResult" class="form-control" rows="5" readonly></textarea>
                </div>
                <div class="mt-2">
                    <h6>MT Response:</h6>
                    <textarea id="mtResult" class="form-control" rows="5" readonly></textarea>
                </div>
                <div class="mt-2">
                    <h6>TTS Response:</h6>
                    <input type="text" id="ttsResult" class="form-control" placeholder="" disabled>
                </div>
                <!-- Fileupload Audio Player -->
                <audio id="filePlayer" controls autoplay style="display: none;" style="margin-top: 10px;"></audio>
            </div>
            <!-- Audio Streaming Tab -->
            <div class="tab-pane container fade" id="streamingTab">
                <h3 class="mt-3">ToHyVe Demo: Start Audio Streaming by Selecting Language Codes</h3>
                <div class="dropdown-container" style="margin-top: 20px;">
                    <!-- First Dropdown (Default: de) -->
                    <label for="source_language">Streaming Language:</label>
                    <select class="dropdown" id="source_language">
                        <option value="en">English</option>
                        <option value="de" selected>German</option>
                    </select>
                    <label for="target_language">Target Language:</label>
                    <!-- Second Dropdown (Default: en) -->
                    <select class="dropdown" id="target_language">
                        <option value="en" selected>English</option>
                        <option value="de">German</option>
                    </select>
                </div>
                <!-- Start, Pause Button -->
                <div style="display: flex; justify-content: center; align-items: center;text-align: center;">
                    <button class="btn btn-primary mt-3" id="startButton" style="margin-right: 10px;" >Start</button>
                    <button class="btn btn-primary mt-3" id="pauseButton" >Pause</button>
                </div>
                <!-- Display response from the website -->
                <div id="streaming-response" style="margin-top: 20px;">
                    <table id="streaming-response-table">
                        <tr>
                        <th></th>
                        </tr>
                    </table>
                </div>
                <!-- Streaming Audio Player -->
                <audio id="audioPlayer" controls autoplay style="display: none;"></audio>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        let mediaRecorder;
        let audioChunks = [];
        let isRecording = false;
        let base64data = '';
        const startButton = document.getElementById('startButton');
        const pauseButton = document.getElementById('pauseButton');
        const responseDiv = document.getElementById('streaming-response');
        const sourceLanguage = document.getElementById("source_language");
        const targetLanguage = document.getElementById("target_language");
        var table = document.getElementById("streaming-response-table");
        var fileAudioElement = document.getElementById("filePlayer");
        var audioFile = '';
        // EventListener for the Progressbar
        document.getElementById('audioFile').addEventListener('change', function(event) {
            audioFile = document.getElementById('audioFile').files[0];
            if (audioFile) {
                var audioDuration = 7 * 1000; // 4.5 seconds in milliseconds
                var progressInterval = 50; // Interval for updating the progress bar
                var progressBar = document.querySelector('.progress-bar');
                var startTime = new Date().getTime();
                
                // Show progress bar modal
                $('#progressModal').modal('show');

                var interval = setInterval(function() {
                    var currentTime = new Date().getTime();
                    var elapsedTime = currentTime - startTime;
                    var progress = (elapsedTime / audioDuration) * 100;

                    if (progress >= 100) {
                        clearInterval(interval);
                        progressBar.style.width = '100%';
                        progressBar.textContent = '100%';
                        
                        // Hide the progress bar modal after 3 seconds
                        setTimeout(function() {
                            $('#progressModal').modal('hide');
                        }, 3000);
                    } else {
                        progressBar.style.width = progress + '%';
                        progressBar.textContent = progress.toFixed(2) + '%';
                    }
                }, progressInterval);
            }
        });

        // method to remove elements
        function removeElements(){
            var rowCount = table.rows.length;
            // Remove rows from bottom to top to avoid skipping rows
            for (var i = rowCount - 1; i >= 0; i--) {
                table.deleteRow(i);
            }
        }
        // method for file upload
        function convertToBase64() {
            const socket = new WebSocket('wss://dfki-3109.dfki.de/ws');
            // var audioFile = document.getElementById('audioFile').files[0];
            if (audioFile) {
                var fileSizeInMB = audioFile.size / (1024 * 1024); // Convert fileSize to MB
                if (audioFile.type.includes('audio')){
                    if (fileSizeInMB <= 15) {
                        var reader = new FileReader();
                        reader.onloadend = function () {
                            base64data = reader.result;
                        };
                        reader.readAsDataURL(audioFile);
                    } else{
                        alert('Error: File size exceeds the allowed limit of 15MB.');
                    }
                } else{
                    alert('Error: Please upload a valid audio file.');
                }
            } else {
                alert('Error: Please select an audio file.');
            }

            // Event handler for when the connection is opened
            socket.onopen = function(event) {
                console.log("WebSocket Connection Opened");
                // Format the data into a JSON object
                const jsonData = {
                    fn_index:4,
                    data:[
                        sourceLanguage.value,
                        {
                            data:base64data,
                            name:"audio.mp3"
                        }
                    ],
                    target_language:targetLanguage.value
                };
                // console sending data
                console.log(jsonData);
                
                // Send data to the server
                socket.send(JSON.stringify(jsonData));
                
                // Show loading bar
                $('#loadingModal').modal('show');

            };

            // Event handler for incoming messages
            socket.onmessage = (event) => {
                // Hide the loading bar
                $('#loadingModal').modal('hide');
                
                // Parse the JSON response
                var jsonResponse = JSON.parse(event.data);

                var keys = Object.keys(jsonResponse);
                // Iterate over the keys and send responses to the textbox
                keys.forEach(function (key) {
                    if (key == "asr"){
                        document.getElementById('asrResult').value = jsonResponse[key].split("ASR:")[1];
                    }
                    if (key == "mt"){
                        document.getElementById('mtResult').value = jsonResponse[key].split("MT:")[1];
                    }
                    if (key == "tts"){
                        document.getElementById('ttsResult').value = jsonResponse[key].split("TTS:")[1];
                    }
                    if (key == "audio"){
                        const binaryAudioData = atob(jsonResponse["audio"]);
                        // Create a Uint8Array from the binary data
                        const uint8Array = new Uint8Array(binaryAudioData.length);
                        for (let i = 0; i < binaryAudioData.length; i++) {
                            uint8Array[i] = binaryAudioData.charCodeAt(i);
                        }
                        const outputAudioBlob = new Blob([uint8Array], { type: 'audio/wav' });
                        
                        // Show Audioplayer
                        fileAudioElement.style.display = "block";

                        // Set the audio element's source to the recorded audio
                        filePlayer.src = URL.createObjectURL(outputAudioBlob);
                    }
                });
                // Create a new table row for the separator
                var separatorRow = document.createElement("tr");

                // Create separator cell
                var separatorCell = document.createElement("td");
                separatorCell.colSpan = 2; // Span across two columns
                separatorCell.textContent = "---------------------------------------------------------------";

                // Append the separator cell to the separator row
                separatorRow.appendChild(separatorCell);

                // Append the separator row to the table
                table.appendChild(separatorRow);
            };

            // Event handler for errors
            socket.onerror = function(event) {
                console.error("WebSocket Error:", event);
            };

            // Event handler for when the connection is closed
            socket.onclose = function(event) {
                if (event.wasClean) {
                    console.log('Closed cleanly, code=${event.code}, reason=${event.reason}');
                } else {
                    console.error('Connection died');
                    // Hide the loading bar
                    $('#loadingModal').modal('hide');
                    alert('Connection died!!')
                }
            };
        }

        // Method for streaming audio
        async function startStreaming() {
            const socket = new WebSocket('wss://dfki-3109.dfki.de/ws');
            try {
                const stream = await navigator.mediaDevices.getUserMedia({ audio: true });

                mediaRecorder = new MediaRecorder(stream);

                mediaRecorder.ondataavailable = (event) => {
                    if (event.data.size > 0 && socket.readyState === WebSocket.OPEN) {
                        audioChunks.push(event.data);
                    }
                };
                // Media recorder on stop EventHandler
                mediaRecorder.onstop = (event) => {
                    const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
                    var reader = new FileReader();
                    
                    // Convert data to base64
                    reader.onloadend = function() { 
                        base64data = reader.result;       
                    }
                    reader.readAsDataURL(audioBlob);
                    
                    // Format the data into a JSON object
                    const jsonData = {
                        fn_index:4,
                        data:[
                            sourceLanguage.value,
                            {
                                data:base64data,
                                name:"audio.mp3"
                            }
                        ],
                        target_language:targetLanguage.value
                    };

                    // Send data to the server
                    socket.send(JSON.stringify(jsonData));

                    // Clear audioChunks for the next recording
                    audioChunks = [];                

                };

                socket.onmessage = (event) => {
                    // Parse the JSON response
                    var jsonResponse = JSON.parse(event.data);

                    var keys = Object.keys(jsonResponse);
                    // Iterate over the keys and log them
                    keys.forEach(function (key) {
                        if (key == "asr"){
                            var row = table.insertRow();
                            console.log('key Response:', jsonResponse[key]);
                            var asr_cell = row.insertCell(0);
                            asr_cell.innerHTML = jsonResponse[key];
                        }
                        if (key == "mt"){
                            var row = table.insertRow();
                            console.log('key Response:', jsonResponse[key]);
                            var mt_cell = row.insertCell(0);
                            mt_cell.innerHTML = jsonResponse[key];
                        }
                        if (key == "tts"){
                            var row = table.insertRow();
                            console.log('key Response:', jsonResponse[key]);
                            var tts_cell = row.insertCell(0);
                            tts_cell.innerHTML = jsonResponse[key];
                        }
                        if (key == "audio"){
                            const binaryAudioData = atob(jsonResponse["audio"]);
                            // Create a Uint8Array from the binary data
                            const uint8Array = new Uint8Array(binaryAudioData.length);
                            for (let i = 0; i < binaryAudioData.length; i++) {
                                uint8Array[i] = binaryAudioData.charCodeAt(i);
                            }
                            const outputAudioBlob = new Blob([uint8Array], { type: 'audio/wav' });
                            // Set the audio element's source to the recorded audio
                            audioPlayer.src = URL.createObjectURL(outputAudioBlob);
                        }
                    });
                    // Create a new table row for the separator
                    var separatorRow = document.createElement("tr");

                    // Create separator cell
                    var separatorCell = document.createElement("td");
                    separatorCell.colSpan = 2; // Span across two columns
                    separatorCell.textContent = "---------------------------------------------------------------";

                    // Append the separator cell to the separator row
                    separatorRow.appendChild(separatorCell);

                    // Append the separator row to the table
                    table.appendChild(separatorRow);
                };

                socket.onclose = (event) => {
                    if (event.wasClean) {
                        console.log('Closed cleanly, code=${event.code}, reason=${event.reason}');
                    } else {
                        console.error('Connection died');
                    }
                };
                
                mediaRecorder.start();
                isRecording = true;
                
                // Send audio every second
                setInterval(() => {
                    if (isRecording) {
                        mediaRecorder.stop();
                        mediaRecorder.start();
                    }
                }, 2000);

            } catch (error) {
                console.error('Error accessing the microphone:', error);
            }

        }
        // event listener for start button
        startButton.addEventListener('click', async () => {
            if (startButton.textContent == "Start"){
                removeElements();
                startStreaming();
                startButton.textContent = "Stop";
                isRecording = true;
                pauseButton.removeAttribute('disabled');
            }else{
                startButton.textContent = "Start";
                mediaRecorder.stop();
                isRecording = false;
                pauseButton.setAttribute('disabled', 'disabled');
            }

        });
        // event listener for pause button
        pauseButton.addEventListener('click', () => {
            if (pauseButton.textContent == "Pause") {
                mediaRecorder.pause();
                pauseButton.textContent = "Resume";
                isRecording = false;
            } else {
                isRecording = true;
                mediaRecorder.resume();
                pauseButton.textContent = "Pause";
            }
        });
    </script>
</body>

</html>
