<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToHyVe Service Demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .dropdown-container {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
        }

        .dropdown {
            flex: 1;
            margin-right: 20px;
            margin-left: 10px;
        }
        .header {
            text-align: center;
        }
    </style>
</head>

<body >
    <div class="container mt-5">
        <!-- Top Tab -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#uploadTab">File Upload</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#streamingTab">Website Streaming</a>
            </li>
        </ul>

        <div class="tab-content mt-2">
            <!-- Upload & Convert to Base64 Tab -->
            <div class="tab-pane container active" id="uploadTab">
                <h3 class="mt-3">ToHyVe Demo: Upload Audio File and Select Language Codes</h3>
                <!-- File upload -->
                <input type="file" id="audioFile" accept=".mp3, .wav, .ogg" class="form-control mt-3">
                <!-- Progress Modal -->
                <div class="modal" id="progressModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <label class="ustom-file-label">Data Loading...</label>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0"
                                        aria-valuemax="100">0%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Dropdown div -->
                <div class="dropdown-container" style="margin-top: 20px;">
                    <!-- First Dropdown (Default: de) -->
                    <label for="source_language">Audio Language:</label>
                    <select class="dropdown" id="source_language">
                        <option value="en">English</option>
                        <option value="de" selected>German</option>
                    </select>
                    <!-- Second Dropdown (Default: en) -->
                    <label for="target_language">Target Language:</label>
                    <select class="dropdown" id="target_language">
                        <option value="en" selected>English</option>
                        <option value="de">German</option>
                    </select>
                </div>
                <!-- Run Button -->
                <div style="display: flex; justify-content: center; align-items: center;text-align: center;" data-toggle="modal" data-target="#loadingModal">
                    <button class="btn btn-primary mt-3" onclick="convertToBase64()">Run Demo</button>
                </div>
                <!-- Loading Modal -->
                <div class="modal" id="loadingModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body text-center">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <p>Loading...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Response Textbox -->
                <div class="mt-2">
                    <h6>ASR Response:</h6>
                    <textarea id="asrResult" class="form-control" rows="5" readonly></textarea>
                </div>
                <div class="mt-2">
                    <h6>MT Response:</h6>
                    <textarea id="mtResult" class="form-control" rows="5" readonly></textarea>
                </div>
                <div class="mt-2">
                    <h6>TTS Response:</h6>
                    <input type="text" id="ttsResult" class="form-control" placeholder="" disabled>
                </div>
                <!-- Fileupload Audio Player -->
                <audio id="filePlayer" controls autoplay style="display: none;" style="margin-top: 10px;"></audio>
            </div>
            <!-- Audio Streaming Tab -->
            <div class="tab-pane container fade" id="streamingTab">
                <!-- Audio Streaming Tab -->
                <h3 class="mt-3">ToHyVe Demo: Start Demo by Giving Streaming URL and Selecting Language Codes</h3>

                <div class="dropdown-container">
                    <label for="streamingUrl">Streaming URL</label>
                    <input type="text" class="form-control" id="streamingUrl" placeholder="Enter Streaming URL">
                </div>
                <div class="dropdown-container" style="margin-top: 20px;">
                    <!-- First Dropdown (Default: de) -->
                    <label for="source_language">Streaming Language</label>
                    <select class="dropdown" id="source_language">
                        <option value="de" selected>German</option>
                        <option value="en">English</option>
                        
                    </select>
                    <label for="target_language">Target Language</label>
                    <!-- Second Dropdown (Default: en) -->
                    <select class="dropdown" id="target_language">
                        <option value="en" selected>English</option>
                        <option value="de">German</option>
                    </select>
                </div>
                <!-- Start, Pause Button -->
                <div style="display: flex; justify-content: center; align-items: center;text-align: center;">
                    <button class="btn btn-primary mt-3" id="startButton">Start</button>
                </div>
                <!-- Display response from the website -->
                <div id="streaming-response" style="margin-top: 20px;">
                    <table id="streaming-response-table">
                        <tr>
                        <th></th>
                        </tr>
                    </table>
                </div>
                <!-- Streaming Audio Player -->
                <audio id="audioPlayer" controls autoplay style="display: none;"></audio>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        // Flag to track streaming status
        let stopFetching = false;
        let currentTrack = 0;
        let prevLength = 0;
        let mediaRecorder;
        let audioChunks = [];
        let isRecording = false;
        let base64data = '';
        let audioFiles = [];
        const audioPlayer = document.getElementById('audioPlayer');
        const streamUrl = document.getElementById('streamingUrl');
        const websocketServerUrl = 'ws://your-server-ws-address'; // this can be replaced by with your websocket address
        const startButton = document.getElementById('startButton');
        const responseDiv = document.getElementById('streaming-response');
        const sourceLanguage = document.getElementById("source_language");
        const targetLanguage = document.getElementById("target_language");
        var table = document.getElementById("streaming-response-table");
        var fileAudioElement = document.getElementById("filePlayer");
        var audioFile = '';

        class UnlimitedFIFO {
            constructor() {
                this.queue = [];
            }   

            enqueue(item) {
                this.queue.push(item);
            }

            dequeue() {
                return this.queue.shift();
            }

            size() {
                return this.queue.length;
            }

            isEmpty() {
                    return this.queue.length === 0;
            }   
        }


        // EventListener for the Progressbar
        document.getElementById('audioFile').addEventListener('change', function(event) {
            audioFile = document.getElementById('audioFile').files[0];
            if (audioFile) {
                var audioDuration = 7 * 1000; // 7 seconds in milliseconds
                var progressInterval = 50; // Interval for updating the progress bar
                var progressBar = document.querySelector('.progress-bar');
                var startTime = new Date().getTime();
                
                // Show progress bar modal
                $('#progressModal').modal('show');

                var interval = setInterval(function() {
                    var currentTime = new Date().getTime();
                    var elapsedTime = currentTime - startTime;
                    var progress = (elapsedTime / audioDuration) * 100;

                    if (progress >= 100) {
                        clearInterval(interval);
                        progressBar.style.width = '100%';
                        progressBar.textContent = '100%';
                        
                        // Hide the progress bar modal after 3 seconds
                        setTimeout(function() {
                            $('#progressModal').modal('hide');
                        }, 3000);
                    } else {
                        progressBar.style.width = progress + '%';
                        progressBar.textContent = progress.toFixed(2) + '%';
                    }
                }, progressInterval);
            }
        });

        // method to remove elements
        function removeElements(){
            var rowCount = table.rows.length;
            // Remove rows from bottom to top to avoid skipping rows
            for (var i = rowCount - 1; i >= 0; i--) {
                table.deleteRow(i);
            }
        }

        // method for file upload
        function convertToBase64() {
            const socket_1 = new WebSocket(websocketServerUrl);
            // var audioFile = document.getElementById('audioFile').files[0];
            if (audioFile) {
                var fileSizeInMB = audioFile.size / (1024 * 1024); // Convert fileSize to MB
                if (audioFile.type.includes('audio')){
                    if (fileSizeInMB <= 15) {
                        var reader = new FileReader();
                        reader.onloadend = function () {
                            base64data = reader.result;
                        };
                        reader.readAsDataURL(audioFile);
                    } else{
                        alert('Error: File size exceeds the allowed limit of 15MB.');
                    }
                } else{
                    alert('Error: Please upload a valid audio file.');
                }
            } else {
                alert('Error: Please select an audio file.');
            }

            // Event handler for when the connection is opened
            socket_1.onopen = function(event) {
                console.log("WebSocket Connection Opened");
                // Format the data into a JSON object
                const jsonData = {
                    fn_index:4,
                    data:[
                        sourceLanguage.value,
                        {
                            data:base64data,
                            name:"audio.mp3"
                        }
                    ],
                    target_language:targetLanguage.value,
                    file_upload:1
                };
                // console sending data
                console.log(jsonData);
                
                // Send data to the server
                socket_1.send(JSON.stringify(jsonData));
                
                // Show loading bar
                $('#loadingModal').modal('show');

            };

            // Event handler for incoming messages
            socket_1.onmessage = (event) => {
                // Hide the loading bar
                $('#loadingModal').modal('hide');
                
                // Parse the JSON response
                var jsonResponse = JSON.parse(event.data);

                var keys = Object.keys(jsonResponse);
                // Iterate over the keys and send responses to the textbox
                keys.forEach(function (key) {
                    if (key == "asr"){
                        document.getElementById('asrResult').value = jsonResponse[key].split("ASR:")[1];
                    }
                    if (key == "mt"){
                        document.getElementById('mtResult').value = jsonResponse[key].split("MT:")[1];
                    }
                    if (key == "tts"){
                        document.getElementById('ttsResult').value = jsonResponse[key].split("TTS:")[1];
                    }
                    if (key == "audio"){
                        const binaryAudioData = atob(jsonResponse["audio"]);
                        // Create a Uint8Array from the binary data
                        const uint8Array = new Uint8Array(binaryAudioData.length);
                        for (let i = 0; i < binaryAudioData.length; i++) {
                            uint8Array[i] = binaryAudioData.charCodeAt(i);
                        }
                        const outputAudioBlob = new Blob([uint8Array], { type: 'audio/wav' });
                        
                        // Show Audioplayer
                        fileAudioElement.style.display = "block";

                        // Set the audio element's source to the recorded audio
                        filePlayer.src = URL.createObjectURL(outputAudioBlob);
                    }
                });
            };

            // Event handler for errors
            socket_1.onerror = function(event) {
                console.error("WebSocket Error:", event);
            };

            // Event handler for when the connection is closed
            socket_1.onclose = function(event) {
                if (event.wasClean) {
                    console.log('Closed cleanly, code=${event.code}, reason=${event.reason}');
                } else {
                    console.error('Connection died');
                    // Hide the loading bar
                    $('#loadingModal').modal('hide');
                    alert('Connection died!!')
                }
            };
        }

        
        // Function to do web streaming
        function doStreaming(){
            // Connect to WebSocket
            const socket = new WebSocket(websocketServerUrl);
            // Event handler for socket connection
            socket.onopen = function(event){
                console.log('WebSocket opened:', event);
                if(!stopFetching){
                    fetchAudioData(streamUrl.value, socket);
                }
            };

            // Event handler for socket incoming messages
            socket.onmessage = (event) => {
                // Parse the JSON response
                var jsonResponse = JSON.parse(event.data);
                var keys = Object.keys(jsonResponse);
                // Iterate over the keys and log them
                keys.forEach(function (key) {
                    if (key == "asr"){
                        var row = table.insertRow();
                        console.log('key Response:', jsonResponse[key]);
                        var asr_cell = row.insertCell(0);
                        asr_cell.innerHTML = jsonResponse[key];
                        var row = table.insertRow();
                        var asr_cell = row.insertCell(0);
                        asr_cell.innerHTML = "------------------------------------------------------------------";
                    }
                    if (key == "mt"){
                        var row = table.insertRow();
                        console.log('key Response:', jsonResponse[key]);
                        var mt_cell = row.insertCell(0);
                        mt_cell.innerHTML = jsonResponse[key];
                        var row = table.insertRow();
                        var mt_cell = row.insertCell(0);
                        mt_cell.innerHTML = "------------------------------------------------------------------";
                    }
                    if (key == "tts"){
                        var row = table.insertRow();
                        console.log('key Response:', jsonResponse[key]);
                        var tts_cell = row.insertCell(0);
                        tts_cell.innerHTML = jsonResponse[key];
                    }
                    if (key == "audio"){
                        const binaryAudioData = atob(jsonResponse["audio"]);
                        // Create a Uint8Array from the binary data
                        const uint8Array = new Uint8Array(binaryAudioData.length);
                        for (let i = 0; i < binaryAudioData.length; i++) {
                            uint8Array[i] = binaryAudioData.charCodeAt(i);
                        }
                        const outputAudioBlob = new Blob([uint8Array], { type: 'audio/wav' });
                        audioFiles.enqueue(outputAudioBlob);
                        if (audioPlayer.paused) {
                            playNextTrack();
                        }
                    }
                    if (key == "response"){
                        var row = table.insertRow();
                        console.log('key Response:', jsonResponse[key]);
                        var tts_cell = row.insertCell(0);
                        tts_cell.innerHTML = "ping "+jsonResponse[key];
                        // ping(socket);
                    }
                });
                
                // Create a new table row for the separator
                var separatorRow = document.createElement("tr");

                // Create separator cell
                var separatorCell = document.createElement("td");
                separatorCell.colSpan = 2; // Span across two columns
                separatorCell.textContent = "------------------------------------------------------------------";
                // Create separator cell
                var separatorCell = document.createElement("td");
                separatorCell.colSpan = 2; // Span across two columns
                separatorCell.textContent = "------------------------------------------------------------------";

                // Append the separator cell to the separator row
                separatorRow.appendChild(separatorCell);

                // Append the separator row to the table
                table.appendChild(separatorRow);
            };

            // Event handler on socket close
            socket.onclose = (event) => {
                if (event.wasClean) {
                    console.log('Closed cleanly, code=${event.code}, reason=${event.reason}');
                    startButton.textContent = "Start";
                } else {
                    console.error('Connection died');
                    startButton.textContent = "Start";
                }
            };
        }
        
        // Function to convert ArrayBuffer to Base64
        function arrayBufferToBase64(buffer) {
            var binary = '';
            var len = buffer.byteLength;
            for (var i = 0; i < len; i++) {
                binary += String.fromCharCode( buffer[ i ] );
            }
            return btoa( binary );
        }



        // method for waiting ping request
        function delay(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
   

        // // Send a ping frame every 30 seconds (adjust the interval as needed)
        async function ping(socket){
            socket.send("ping");
            await delay(3000);
            await ping(socket);
        }


        // Function to fetch audio data and return as ArrayBuffer
        async function fetchAudioData(url, socket) {
            let audio_chunks = []; 
            try {
                const response = await fetch(url, { method: 'GET' });
                if (!response.ok) {
                    throw new Error(`Failed to fetch audio: ${response.status} ${response.statusText}`);
                }
                const reader = response.body.getReader();
                while (!stopFetching) {
                    const { value, done } = await reader.read();

                    if (done) {
                        if (audio_chunks.length){
                            await sendAudioToWebSocket(audio_chunks, socket);
                            audio_chunks = [];
                        }
                        break;
                    }
                    // Send the audio chunk to the WebSocket
                    if(value){
                        audio_chunks.push(value);
                    }
                    
                    if(audio_chunks.length >= 20){
                        await sendAudioToWebSocket(audio_chunks, socket);
                        audio_chunks = [];
                    }
                }
                if(stopFetching){
                    socket.close();
                }
            } catch (error) {
                console.error('Error fetching audio:', error);
                startButton.textContent = "Start"
            }
        }
        
        // Function to convert ArrayBuffer to Base64
        function arrayBufferToBase64(buffer) {
            if (buffer instanceof ArrayBuffer) {
                var binary = '';
                var bytes = new Uint8Array(buffer);
                var len = bytes.byteLength;
                for (var i = 0; i < len; i++) {
                    binary += String.fromCharCode( bytes[ i ] );
                }
                return btoa(binary);
            }
            else{
                // Concatenate all chunks into a single Uint8Array
                const concatenated = new Uint8Array(buffer.reduce((acc, chunk) => acc + chunk.length, 0));
                let offset = 0;
                buffer.forEach(chunk => {
                    concatenated.set(chunk, offset);
                    offset += chunk.length;
                });

                var binary = '';
                var len = concatenated.byteLength;
                for (var i = 0; i < len; i++) {
                    binary += String.fromCharCode(concatenated[ i ]);
                }
                return btoa(binary);
            }

        }


        //  create and send back formatted 
        async function createDataFormatStreaming(base64data){
            let data = {
                fn_index:4,
                data:[
                    sourceLanguage.value,
                    {
                        data:base64data,
                        name:"audio.mp3"
                    }
                ],
                target_language:targetLanguage.value,
                file_upload:0
            }
            return data;
        }


        // Function which sends streaming to the server
        async function sendAudioToWebSocket(audioChunk, socket) {
            base64data = "data:audio/mpeg;base64," + arrayBufferToBase64(audioChunk);
            // get the data format
            const jsonData = await createDataFormatStreaming(base64data);
            await sendToWebsocket(jsonData, socket);
        }


        // sending message to websocket
        async function sendToWebsocket(jsonData, socket){
            if (socket.readyState === WebSocket.OPEN) {
                // Format the data into a JSON object and send it to socket
                socket.send(JSON.stringify(jsonData));
            }
        }

        // Function with controls audio pipline
        async function playNextTrack() {
            if (!audioFiles.isEmpty()) {
                audioPlayer.src = URL.createObjectURL(audioFiles.dequeue());
            }
        }

        // Event handler when an audio ends
        audioPlayer.addEventListener('ended', function() {
            playNextTrack();
        });

        // Method to remove elements
        function removeElements(){
            audioFiles = new UnlimitedFIFO(); // initiate audio pipeline
            var rowCount = table.rows.length;
            // Remove rows from bottom to top to avoid skipping rows
            for (var i = rowCount - 1; i >= 0; i--) {
                table.deleteRow(i);
            }
        }

        // Event listener for start button
        startButton.addEventListener('click', async () => {
            if (startButton.textContent == "Start"){
                stopFetching = false;
                removeElements();
                doStreaming();
                startButton.textContent = "Stop";
            }else{
                startButton.textContent = "Start";
                stopFetching = true;
            }

        });
    </script>
</body>

</html>
